<div>
	<div class="form-group">
	    <label for="ingredients">Ingredients</label>
	    <div class="input-group">
	        <input class="form-control" ng-model="auxIngredient" type="text"
	  pattern=".{3,}">
	        <div class="input-group-addon" ng-click="auxIngredient && addIngredient()">
	            <span class="glyphicon glyphicon-plus"</span>
	        </div>
	    </div>
	</div>
	<div class="form-group">
	    <ul class="list-inline">
	        <li ng-repeat="i in ingredients">{{ i }}</li>
	    </ul>
	</div>
</div>