<div class="row">
    <form name="newRecipe" class="col-md-12 col-lg-12">
    <div class="form-group">
        <label for="title">Nom</label>
        <input type="text" class="form-control" id="title" ng-model="formData.title" required>
    </div>
    <div class="form-group">
        <label for="description">Descripció</label>
        <textarea class="form-control" rows="3" ng-model="formData.description">
        </textarea>
    </div>
    <ingredient-list ingredients="formData.ingredients"></ingredient-list>  
    <ingredient-list ingredients="formData.ingredients"></ingredient-list>    
    <div class="form-group">
        <label for="cookingTime">Temps d'elaboració</label>
        <input class="form-control" type="number" min="1" ng-model="formData.cookingTime" required>
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-disabled="!newRecipe.$valid" ng-click="send()">Submit</button>
    </div>
</form>
</div>