<div class="row">
	<div class="col-md-12 col-lg-12">
	<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th><span class="pull-right">Temps de preparació</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="recipe in recipes">
          <td>{{recipe.id}}</td>
          <td><a ng-href="#/recipes/{{recipe.id}}/edit">{{recipe.title}}</a></td>
          <td><span class="pull-right">{{recipe.cookingTime}}</span></td>
          <td><button type="button" class="close" ng-click="deleteRecipe(recipe.id)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
<div class="row">
	<div class="col-md-12 col-lg-12">
		<a class="btn btn-default" href="#/recipes/new">Afegir recepta</a>
	</div>
</div>