<div class="row">
	<div class="col-md-12 col-lg-12">
	<table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th><span class="pull-right">Temps de preparació</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="recipe in recipes">
          <td>{{recipe.id}}</td>
          <td>{{recipe.title}}</td>
          <td><span class="pull-right">{{recipe.cookingTime}}</span></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
<div class="row">
	<div class="col-md-12 col-lg-12">
		<a class="btn btn-default" href="#/recipes/new">Afegir recepta</a>
	</div>
</div>